




h1{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 105px
}

h2{
font-family: 'Open Sans', sans-serif;
text-align: center;
font-size: 30px

}

h3{
font-family: 'Open Sans', sans-serif;
}

h4{
font-family: 'Open Sans', sans-serif;
}



/**
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
/**/



p {
font-family: 'Raleway', sans-serif;
}


.page {
    width: 1300px;
    background-color: rgb(167, 234, 227);
    margin: auto;
    padding: 40px;
    padding-top: 40px;
	padding-bottom: 40px;
}



.title-layout
{
	background-color: rgb(29, 121, 78);
    display: inline-block;
    text-align: center;
    
    
}





.pure-u-5-5 {
	text-align: center;
}



.topic {
    background-color: rgb(186, 186, 186);
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    width: 100%;/
}

.topic1 {
    background-color: rgb(13, 19, 92);
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    width: 100%;/
}






body {
    background-color: lightgray;
}










