

h1{
font-family: 'Open Sans', sans-serif;
text-align: center;
}

h2{
font-family: 'Open Sans', sans-serif;
}

h3{
font-family: 'Open Sans', sans-serif;
}

h4{
font-family: 'Open Sans', sans-serif;
}



p {
font-family: 'Raleway', sans-serif;
}


.page {
    width: 1100px;
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-top: 40px;
	padding-bottom: 30px;
}



.title-layout
{
	background-color: rgb(183, 255, 149);
	
	margin-bottom: 15px;
    
}





.pure-u-5-5 {
	text-align: center;
}



.topic {
    background-color: rgb(186, 186, 186);
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    width: 100%;/
}

.topic1 {
    background-color: rgb(255, 255, 255);
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    width: 100%;/
}






body {
    background-color: lightgray;
}










